Source: bashlets-utils
Maintainer: Roberto Reale <roberto.reale82@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: bashlets-utils
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: bashlets-utils
 A modular extensible toolbox for Bash.
